<% provide(:title, 'board') %>

<div class="row">
      <aside class="span2">
        <br>
        <div>
            <ul class="nav nav-list">
                <li class="nav-header">-Board-</li>
                <li><a href="#">free -</a></li>
                <li><a href="#">sell & buy</a></li>
                <li><a href="#">let's together</a></li>
                <li><a href="#">shell knowhow</a></li>
                <li><a href="#">info-camera</a></li>
            </ul>
        </div>
       </aside>
       

    <div class="span10">
        <br>
        <table class="table">
            <tr class="success">
                <th>#</th>
                <th>Subject</th>
                <th>id</th>
                <th>date</th>
                <th>hits</th>
            </tr>

            <tr>
                <td>1</td>
                <td>ex</td>
                <td>ex</td>
                <td>ex</td>
                <td>0</td>
            </tr>

            <tr>
                <td>2</td>
                <td>ex</td>
                <td>ex</td>
                <td>ex</td>
                <td>0</td>
            </tr>

        </table>
    </div>

</div>