<% provide(:title, 'Home') %>

<div class="center hero-unit">
<p>Here is memorable - </p>
<h2>Welcome to the Photobook</h2>
<p>______________________</p>
<small>loooooooooooooooooooooooooool</small><br>
<small>loooooooooooooooooooooooooool</small><br>
<small>loooooooooooooooooooooooooool</small><br>
<small>loooooooooooooooooooooooooool</small>
<p>--------------------------------</p>
<small>Today's best photo !</small>
<br>
<img alt="Rails", src="/assets/logo_717597_web.jpg" /><br>
<%= link_to "Sign up now !", signup_path, class: "btn btn-success" %>
</div>



