<% provide(:title, 'Home') %>

<div class="center hero-unit">
<h1>Here is memorable - </h1>
<img alt="Rails", src="/assets/logo_717597_web.jpg" />
<h2>Welcome to the Photobook</h2>
<br>
<br>
<%= link_to "Sign up now !", '#', class: "btn btn-large btn-primary" %>
</div>
