<div id="paintings">
		<%#= for painting in @painting.paintings %>

		<%#= image_tag @image.image_url.to_s %>
		
		<%= image_tag painting.image_url(:thumb) if painting.image? %>
		<%#end%>
		
		<div class="clear"></div>
</div>	