<%= form_for @painting, :html => {:multipart => true} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  <span class="image">
    <%= f.file_field :image %>
  
    <%= f.submit "post" %>
  </span>
<% end %>