<footer class="footer">
  <small>
    <a href="#">Photobook</a>
    by Moka_Lee
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/profile.php?id=100001649154843">developed by moka-a</a></li>
    </ul>
  </nav>
</footer>